body {
    background-color: rgb(37, 40, 51);
}

p {
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
    color: rgb(110, 185, 252);
}

h1 {
    text-align: center;
    font-size: 250%;
}
